import 'package:get_it/get_it.dart';

import 'package:{{package_name}}/core/network/dio_client.dart';
import 'package:{{package_name}}/features/{{feature_name}}/data/repositories/{{feature_name}}_repository.dart';

/// {{FeatureName}} 模块依赖注册。
///
/// {{FeatureName}} module dependency registration.
class {{FeatureName}}Module {
  {{FeatureName}}Module._();

  /// 注册模块依赖。
  ///
  /// Registers module dependencies.
  static void register(GetIt getIt) {
    getIt.registerLazySingleton<{{FeatureName}}Repository>(
      () {
        return {{FeatureName}}Repository(client: getIt<DioClient>());
      },
    );
  }
}
