part of '{{feature_name}}_bloc.dart';

/// {{FeatureName}} 事件。
///
/// {{FeatureName}} events.
@freezed
abstract class {{FeatureName}}Event with _${{FeatureName}}Event {
  /// 编写你的事件：
  /// const factory {{FeatureName}}Event.add() = {{FeatureName}}Add;
}
